.header {
  background-color: #2da0ba;
  height: 150px;
  width: 100%;
  border: solid black 2px;
}

.header h1 {
  font-family:fantasy;
  font-size: 5em;
  text-align: center;
  color: white;
}

.col-xs-3 {
  padding-top: 20px;
  margin: auto;
  float: right;
  list-style: none;
  text-align: center;
  width: 19.5%;
}

.col-xs-9 {
  width: 80%;
  border-right: solid black 2px;
  text-align: center;

}

.col-xs-9 h2 {
  font-family: fantasy;
  text-align: center;
  color: #2da0ba;
  text-decoration: underline;
  padding-bottom: 10px;

}

.col-xs-9 h4 {
  text-align: center;
  color: #16505d;
  font-family: fantasy;

}

.col-xs-3 h2 {
  font-family: fantasy;
  text-align: center;
  color: #2da0ba;
  padding-bottom: 10px;

}

.col-xs-3 h4 {
  text-align: center;
  color: #16505d;
  font-family: fantasy;
}

img {
  height: 200px;
  width: 200px;
}
