.header {
  font-family:fantasy;
  font-size: 2em;
  text-align: center;
  background-color: #2da0ba;
  color: white;
  height: 150px;
  width: 100%;
  border: solid black 2px;
}

.col-xs-2 {
  padding-top: 20px;
  margin: auto;
  float: right;
  list-style: none;
  border: solid black 2px;
  text-align: center;
  width: 19.5%;
}

.col-xs-2 ul {
  list-style: none;
  list-style-position: inherit;
}

.col-xs-10 {
  width: 80%;
  border: solid black 2px;
  text-align: center;

}

.acol-xs-10 h2 {
  font-family:fantasy;
  font-stretch: semi-expanded;
  text-align: center;
  color: #2da0ba;

}
